<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
    <servlet>
        <servlet-name>ListerUtilisateur</servlet-name>
        <servlet-class>servlet.ListerUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <servlet-class>servlet.AjouterUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerUtilisateur</servlet-name>
        <servlet-class>servlet.SupprimerUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <servlet-class>servlet.ModifierUtilisateur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListerUtilisateur</servlet-name>
        <url-pattern>/ListerUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <url-pattern>/AjouterUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerUtilisateur</servlet-name>
        <url-pattern>/SupprimerUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <url-pattern>/ModifierUtilisateur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContextSecure.xml
            classpath:applicationContext.xml
        </param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
